[
    {kernel, [
        {error_logger, {file, "logs/test_kernel.log"}}
    ]},
    {sasl, [
        {sasl_error_logger, {file, "logs/test_sasl.log"}}
    ]},
    {setup, [
        {data_dir, "test/data"},
        {log_dir,  "logs"}
    ]},
    {lager, [
        {log_root, "logs"},
        {handlers, [
            {lager_file_backend, [
                {file, "test_lager.log"},
                {level, debug},
                {formatter, lager_default_formatter},
                {formatter_config, [
                    date, " ", time, " ", color, "[", severity, "]\t",
                    {ctx, ["<", ctx, "> "], ""},
                    "\t", message, " (",
                    {pid, ""},
                    {module, [
                        {pid, ["@"], ""},
                        module,
                        {line, [":",line], ""}
                    ], ""},
                    ")\n"
                ]}
            ]}
        ]},
        {error_logger_hwm, 5000},
        {error_logger_redirect, true},
        {crash_log, "test_crash.log"}
    ]},
    {axb_config, [
    ]}
].

